/* Global Styling & Resets */

:root {
    /* Font Families */
    --ff-common: "Righteous", sans-serif;

    /* Font Sizes */
    --fs-base: 1rem;
    --fs-nav: 0.64rem;
    --fs-small: 0.8rem;
    --fs-x-small: 0.512rem;

    --fs-x-large-heading: 3.052rem;
    --fs-large-heading: 2.441rem;
    --fs-h1: 1.953rem;
    --fs-h2: 1.563rem;
    --fs-h3: 1.25rem;
    --fs-h4: var(--fs-base);
    --fs-h5: var(--fs-small);
    --fs-h6: 0.64rem;
    --fs-h7: var(--fs-x-small);

    --fs-modal-exit: 1.5rem;

    --size-todo-btn: 1.5rem;
    --size-new-btn: 2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    /* Space out header, main, and footer */
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

input[type="text"],
input[type="date"],
select {
    min-height: 2rem;
}

/* Header */
header {
    /* Center and scale*/
    width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    /*temp*/
    outline: 1px solid yellow;
}

/* Footer */
footer {
    /* Center and fix to the bottom of the page */
    width: 100%;
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    /*temp*/
    outline: 1px solid black;
}

/* Buttons */
button {
    cursor: pointer;
}

button.new {
    /* Button shape and size */
    width: var(--size-new-btn);
    aspect-ratio: 1;
    border-radius: 50%;

    /* Space from other content */
    margin: 1rem 0;

    /* Position in bottom left corner */
}

button.new:after {
    /* Plus sign */
    content: '\2795';
}

button.edit {
    background-image: url('../images/edit.png');
}

button.delete {
    background-image: url('../images/delete.png');
}

button.edit,
button.delete {
    /* Size the buttons */
    width: var(--size-todo-btn);
    aspect-ratio: 1;

    /* Size and center the icons */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Main */
/* Sidebar */
main {
    /* Full width and flex to allow flex properties on children */
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    /* 20% of the width */
    flex: 0 1 20%;

    /*temp*/
    outline: 1px solid red;
}

.project-header {
    text-align: center;
    margin: 1rem 0;
}

.project-list {
    /* Align the projects */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Content */
.content {
    /* Fit remaining width */
    flex: 1 1 auto;

    /*temp*/
    outline: 1px solid blue;
}

.ss-bar {
    /* Align search & sort */
    display: flex;
    justify-content: center;

    /* Size the search and sort bar */
    padding: 2rem;
    margin-bottom: 1rem;

    /*temp*/
    background-color: lightblue;
}

input[type="search"] {
    /* Add the search bar image */
    background-image: url('../images/search-magnifying-glass.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#search-todo { 
    /* Center the search bar */
    margin-left: auto;
    margin-right: auto;
}

select.sort {
    /* future */
}

#sort-todo {
    /* Add some margin from the right edge */
    margin-right: 2rem;
}

.todo-list {
    /* Align the todo items */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.todo {
    /* Set width and split the info/description rows */
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    /* List appearance */
    padding: 0.5rem;
    outline: 2px solid black;
}

.todo-info {
    /* Align the info */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.todo .buttons {
    /* Push buttons to the right */
    margin-left: auto;
}

.todo-description {
    /* Size the description box */
    min-height: 20vh;

    /* Default is not visible */
    display: none;
    visibility: hidden;
}

hr {
    display: none;
    visibility: hidden;
}

.todo-description--open {
    /* Make the description box visible */
    display: block;
    visibility: visible;
}

/* Modal */
.modal-background {
    /* Modal positioning */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    /* Modal background and visibility */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;

    /* Position modal contents */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-background--active {
    /* Active modal */
    visibility: visible;
    opacity: 1;
}

.modal {
    /* Sizing */
    width: clamp(20rem, 20%, 20%);
    
    /* Position contents */
    position: relative;

    /* Styling */
    padding: 1rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
    background-color: lightgray;
}

.modal-header {
    text-align: center;
    font-size: var(--fs-h2);
    margin-bottom: 2rem;
}

#form-addTodo {
    /* Position contents */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#form-description {
    min-height: 10rem;
    resize: none;
}

#form-submit {
    padding: 0.5rem 0;
}

.modal-exit {
    /* Position in top right corner */
    position: absolute;
    top: 1rem;
    right: 1rem;

    cursor: pointer;
    font-weight: bold;
    font-size: var(--fs-modal-exit);
}
